<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getFullName() + ', ' + person.getBirthYear()}"></p>
<p th:if="${books.empty}">The person hasn't picked up any books yet</p>
    <div th:unless="${books.empty}">
        <h3>Books:</h3>
        <div th:each="book : ${books}">
            <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getTitle() + ', ' + book.getYear()}"></a>
        </div>
    </div>
    <hr>
    <form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
        <input type="submit" value="Edit person"/>
    </form>

    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" value="Delete person"/>
    </form>
</body>
</html>