<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search book</title>
</head>
<body>
    <form th:method="POST" th:action="@{/books/search}">
        <label for="request">Input: </label>
        <input type="text" th:value="${prev}" name="request" id="request"/>
        <br>
        <br>
        <input type="submit" value="Find!">
    </form>

    <br>

    <div th:if="${books == null}">
        <p>No results!</p>
    </div>
    <div th:unless="${books == null}">
        <div th:each="book : ${books}">
            <a th:href="@{/books/{id}(id = ${book.getId()})}" th:text="${book.getTitle()}"></a>
            <div th:if="${book.getOwner() == null}">
                <p>This book is free.</p>
            </div>
            <div th:unless="${book.getOwner() == null}">
                <p th:text="${'This book is taken by ' + book.getOwner().getFullName()}"></p>
            </div>
            <hr>
        </div>
    </div>
</body>
</html>