<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<p th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></p>
<div th:if="${bookOwner == null}">
    <p>This book is free. Who to assign it to?</p>
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <label for="person">Select the person</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="currentPerson : ${people}" th:value="${currentPerson.getId()}" th:text="${currentPerson.getFullName()}">
            </option>
        </select>

        <input type="submit" value="Assign book"/>
    </form>
</div>
<div th:unless="${bookOwner == null}">
    <a th:href="@{/people/{id}(id=${bookOwner.getId()})}" th:text="${bookOwner.getFullName() + ' has this book right now'}"></a>
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="Release book">
    </form>
</div>
<hr>


<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Edit book"/>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete book"/>
</form>
</body>
</html>